.env
.venv
env/
venv/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

.coverage
.flakeheaven_cache
.pytest_*
htmlcov
*/**/__pycache__
*/**/*.pyc
*/**/*.pyo
*/**/*~
*/**/.DS_Store
*/**/.coverage
*/**/.cache
*/**/.pytest_cache
*/**/.hypothesis
*/**/.tox
*/**/.nox
*/**/.venv
*/**/venv
*/**/env
*/**/htmlcov
.python-version

coverage/

# Ignore CLI configuration files
.terraformrc
terraform.rc
.terragrunt-cache
*.tfstate.backup
.terragrunt-cache
.terraform.lock.hcl
**/provider.tf
**/backend.tf
.terraform
terragrunt_rendered.json
auto_provider.tf


